@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider-container, .react-slider-track, .react-slider-thumb {
  touch-action: pan-x;
  -webkit-user-select: none;
  user-select: none;
}

.slider-container {
  touch-action: none;
  overscroll-behavior: contain;
}

@media screen {
  .print-only {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;

    @page { size: A4 portrait; margin: 0.2cm; }
    html, body { height: 100vh; margin: 0; padding: 0; overflow: hidden; }
    body { font-size: 9pt; line-height: 1.05; }
    body * { visibility: hidden; }
    #print-section, #print-section * { visibility: visible; }
    #print-section { 
      position: absolute; 
      left: 0; top: 0; 
      width: 100%; 
      height: 100%; 
      box-sizing: border-box;
      page-break-after: avoid;
    }
    /* Kill any trailing space */
    #print-section::after { content: ""; display: block; height: 0; }
  }
}
